---
import "../styles/global.css";
import "@fontsource/libre-baskerville";
import "@fontsource/ibm-plex-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Florent Klein</title>
    <meta name="application-name" content="Florent Klein" />
    <meta property="og:site_name" content="Florent Klein" />
    <meta
      name="description"
      content="Frontend lead, React expert and passionate developer."
    />
  </head>
  <body
    class="min-h-screen selection:bg-[var(--primary)] selection:text-[var(--background)]"
  >
    <script is:inline>
      const theme = (() => {
        const localStorageTheme = localStorage?.getItem("theme") ?? "";
        if (["dark", "light"].includes(localStorageTheme)) {
          return localStorageTheme;
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
    <slot />
  </body>
</html>
