---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Florent Klein</title>
    <meta
      name="description"
      content="Frontend lead, React expert and passionate developer."
    />
  </head>
  <body
    class="text-gray-900 min-h-screen selection:bg-[var(--primary)] selection:text-[var(--background)]"
  >
    <slot />
  </body>
</html>
